@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@500&family=Righteous&family=Ubuntu&display=swap');
/* Labrada (paragraph), Righteous (heading), Ubuntu */

/* Hero and Header */
#hero {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    background-color: #944134;
}

#hero p {
    grid-column: 2;
    position: absolute;
    left: 150px;
    text-align: center;
    align-self: start;
    color: #EEE5E9;
    font-family: "Labrada";
    font-size: 32px;
    text-shadow: #E6CB53 1px 0 15px;
}

#hero-image {
    grid-column: 2/3;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#call-to-action {
    grid-column: 2;
    position: absolute;
    right: 250px;
    bottom: 5px;
    align-self: end;
    background-image: linear-gradient(180deg, #EEE5E9, #E6CB53);
    font-family: "Labrada", "Ubuntu", sans-serif;
    font-size: 50px;
    border: groove #383D3B;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: black;
    width: 170px;
    height: 80px;
}

#call-to-action:hover {
    transform: scale(1.1);
}

header {
    background-color: #383D3B;
}

#space {
    height: 50px;
    background-color: #944134;
}

nav {
    display: flex;
    /* background-color: #383D3B; */
    color: #EEE5E9;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav a {
    font-family: "Righteous", "Labrada", sans-serif;
    color: #EEE5E9;
    padding: 50px;
    text-decoration: none;
}

nav a:not(#logo-link):hover {
    background-color: #E6CB53;
    color: #383D3B;
    padding: 50px;
    align-items: center;
    /* text-align: center; */
}

#logo-link:hover {
    transform: scale(1.05);
} 

.logo {
    width: 25%;
    border: 25px solid #383D3B;
    border-radius: 100px;
    justify-self: center;
    margin: 0 auto;
}

body {
    background-color: #944134;
}

/* Page 1: HOME */
#main-grid {
    display: grid;
    background-color: #944134;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#introduction {
    margin-top: 30px;
    grid-column: 2/3;
    color: #EEE5E9;
    font-family: "Labrada", "Ubuntu", sans-serif;
}

#introduction:nth-child(1) {
    font-family: "Righteous", "Labrada", sans-serif;
    color: #EEE5E9;
    font-size: 32px;
    justify-self: center;
}

#paragraphs {
    font-family: "Labrada", "Ubuntu", sans-serif;
    color: #383D3B;
    font-size: 20px;
    background-color: #EEE5E9;
    border: 15px ridge #383D3B;
    border-radius: 20px;
    padding: 30px;
}

#invitation {
    grid-column: 2/3;
}

#introduction, #invitation {
    margin: 70px 0;
}

#mini-message {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    bottom: 250px;
    right: 50px;
    align-self: start;
    background-color: #EEE5E9;
    font-family: "Labrada", "Ubuntu", sans-serif;
    font-size: 30px;
    border: 7px ridge #383D3B;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 275px;
    padding: 10px;
}

#mini {
    color: #383D3B;
    border-radius: 10px;
}

#try-it {
    color: #383D3B;
    background-color: #EEE5E9;
    border-radius: 10px;
}

#mini-message:hover {
    transform: scale(1.1);
}

#food {
    grid-column: 2;
    /* box-shadow: 10px 5px 5px #383D3B; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 12px solid #E6CB53;
    border-radius: 20px;
    width: 100%;
}



/* Footer */
footer {
    background-color: #383D3B;
    color: #EEE5E9;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Labrada", "Ubuntu", sans-serif;
}

/* footer p {
    
} */

footer a {
    background-color: #232323;
    color: #EEE5E9;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border: inset;
    border-radius: 20px;
}

/* Index: Sign Up */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
  

.modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 80%; 
}
  
/* The Close Button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Page 2: NUTRITION */
#nutrition-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nutrition-intro {
    grid-column: 1/4;
    /* display: grid; */
    /* grid-template-columns: 20px 1fr 1fr 20px; */
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    margin: 140px 100px 200px 100px;
    padding: 30px;
    background-color: #EEE5E3;
    border: 15px #232323 solid;
    border-radius: 17px;
    justify-self: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#nutrition-img {
    max-width: 45%;
    float: left;
    padding-left: 20px;
}

#nutrition-img img {
    border: 10px #E6CB53 solid;
    border-radius: 20px;
}

#nutrition-text {
    grid-column: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: #232323;
    max-width: 45%;
    float: left;
    padding-right: 20px;
    font-size: 18px;
    line-height: 30px;
}

.intro {
    width: 50%;
    float: left;
    /* display: inline-block;
    vertical-align: middle; */
}

#suggestions {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-items: center; */
    align-items: center;
}

#suggestions a {
    text-decoration: none;
}

#myplate {
    grid-column: 1;
}

#labels {
    grid-column: 2;
}

#shopping {
    grid-column: 3;
}

#shopping img {
    border-radius: 15px;
}

.info {
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin: 30px;
    background-color: white;
    padding: 10px 5px 10px 5px;
    width: 75%;
    border: 10px #232323 solid;
    border-radius: 10px;
    color: #232323;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.info:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


/* Page 3: COST */
#cost-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#offers {
    grid-column: 1/4;
    /* display: grid; */
    /* grid-template-columns: 20px 1fr 1fr 20px; */
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
}

.offers {
    margin: 140px 100px 200px 100px;
    padding: 30px;
    background-color: #EEE5E3;
    border: 15px #232323 solid;
    border-radius: 17px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.offers img {
    border: 1px #232323 solid;
}

.offers p, .offers h3, .offers h2 {
    text-align: center;
}

.offers h3 {
    font-size: 24px;
}

.offers h2 {
    font-size: 40px;
    background: linear-gradient(180deg, #04AA6D, #E6CB53);
    /* -webkit-linear-gradient(#04AA6D, #E6CB53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: linear-gradient(180deg, #04AA6D, #E6CB53); */
}

#offer1 {
    grid-column: 1;
    float: left;
}

#offer2 {
    grid-column: 2;
    float: left;
}

/* Trial */
#trial {
    grid-column: 1/4;
    max-width: 70%;
    justify-self: center;
    align-self: center;
    background-color: #EEE3E5;
    border-radius: 20px;
    padding: 5px 0px 20px 0px;
    border: solid #232323 5px;
    color: #232323;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#trial-text h1 {
    margin-left: 10px;
}

#button {
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    max-width: 78%;
}

#trial-text button {
    border: inset 5px;
    border-radius: 18px;
    color: #cee9d1;
}



/* Page 4: SIGN UP */
form {
    border: 3px solid #f1f1f1;
}
  
/* , input[type=password] */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
button {
    background-color: #04AA6D;
    color: #EEE3E5;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
img.mail {
    border-radius: 50%;
}
  
.container {
    padding: 16px;
}
  
/* Small Screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}