body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #FCA6C9;
    font-family: sans-serif;
}

#intro h2, #intro h4, #intro h3 {
    color: white;
}

#intro h2:hover {
    color: black;
}

#principle-list h3 {
    margin: 0 auto;
    list-style: inside;
}